@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}
a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* ヘッダー */

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 7% 0 2.8%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* スマホ版メニューを消す */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /* ハンバーガー */
    .sp_btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー閉じる */
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

/* 背景 */
main {
    background-color: #e8d9bf;
}

/* 横の余白 */
#About,
#Menu,
#Event {
    padding: 0 10px;
}

/* コンテンツ幅 */
.section-inner {
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .section-inner {
        max-width: 335px;
        margin: 0 auto;
    }
}
/* 理念 */
.company_hope {
    padding-top: 113px;
}

.company_hope_1 {
    font-size: 30px;
    text-align: center;
}

.company_hope_2 {
    font-size: 82px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.1em;
    padding-top: 40px;
}
.company_hope_3 {
    font-size: 23px;
    text-align: center;
    line-height: 1.7;
    letter-spacing: 0.1em;
    padding: 20px 0 90px 0;
}
@media screen and (max-width: 1100px) {
    .company_hope_1 {
        font-size: 25px;
    }

    .company_hope_2 {
        font-size: 68px;
    }

    .company_hope_3 {
        font-size: 19px;
    }
}
@media screen and (max-width: 767px) {
    .company_hope {
        padding-top: 40px;
    }
    .company_hope_1 {
        font-size: 17px;
    }

    .company_hope_2 {
        font-size: 37px;
        letter-spacing: 0.02em;
        padding-top: 25px;
    }

    .company_hope_3 {
        font-size: 16px;
    }
}

/* 私たちについて */

.col-2 {
    display: flex;
}

.item_img {
    width: 500px;
}

.kadomaru {
    border-radius: 0 0 80px 0; /* 角丸の指定 */
}

.item_Text {
    padding: 0 0 0 80px;
}

.item .title_pc {
    width: 272px;
    line-height: 1.6;
    margin-top: 50px;
    margin-bottom: 48px;
}
.about_us_mainText {
    font-size: 44px;
    line-height: 1.4;
    text-align: left;
    margin-top: 48px;
}

.about_us_subText {
    font-size: 16px;
    text-align: left;
    margin-top: 22px;
    line-height: 1.6;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1100px) {
    .about_us_mainText {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .col-2 {
        display: block;
    }

    .item_img {
        width: 375px;
    }
    .item .title_pc {
        width: 160px;
    }

    .item_Text {
        padding: 0px;
    }

    .kadomaru {
        display: none;
    }
}
/* メニュー */

.menu .title {
    width: 151px;
    margin: 0 auto;
    padding: 80px 0 30px 0;
}
.menu .item-list {
    display: flex;
    justify-content: space-between;
}

.kadomaru_2 {
    border-radius: 0 40px 0 0; /* 角丸の指定 */
}

.item-list li {
    width: 30%;
}

.item-list dt {
    color: #d30202;
    font-size: 38px;
    margin-top: -10px;
    margin-bottom: 14px;
    padding-left: 12px;
}

.item-list dd {
    font-size: 17px;
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
    .menu .item-list {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .item-list li {
        width: 100%;
    }

    .menu .title {
        width: 87px;
    }
}

/* ギャラリー */

.gallery .title {
    width: 245px;
    margin: 0 auto;
    padding: 80px 0 20px 0;
}

.gallery_wrap {
    display: flex;
}

@media screen and (max-width: 767px) {
    .gallery_wrap {
        display: block;
    }

    .gallery .title {
        width: 140px;
    }
}
/* イベント */

.event .title {
    width: 173px;
    margin: 0 auto;
    padding: 60px 0 25px 0;
}

.event_wrap {
    display: flex;
    justify-content: center;
    background: #fff;
    border: 3.7px solid;
}
.flex-container {
    font-size: 23px;
    line-height: 2;
    margin: 25px 149px;
}

.flex-item {
    display: flex;
}

.flex-item + .flex-item {
    padding-top: 27px;
}
.date {
    padding-right: 55px;
}
.news {
    font-size: 23px;
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .flex-item {
        display: block;
    }

    .event .title {
        width: 100px;
    }
}

/* アクセス */
.access .title {
    width: 213px;
    margin: 0 auto;
    padding: 75px 0 35px 0;
}

.map iframe {
    display: block;
    width: 100%;
    height: 470px;
}

@media screen and (max-width: 767px) {
    .map iframe {
        display: block;
        width: 100%;
        height: 270px;
    }

    .access .title {
        width: 120px;
    }
}

/* フッター */
.fotter_contents {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
}
.fotter_contents .footer_logo {
    width: 226px;
}
.footer_text {
    color: #000;
    font-size: 20px;
    line-height: 2;
    padding-left: 70px;
}
.footer_copy {
    color: #000;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px;
}
.footer_text span {
    display: block;
}

@media screen and (max-width: 767px) {
    .fotter_contents {
        display: block;
    }

    .footer_text {
        text-align: left;
        padding: 0px;
    }
}

/* ページトップボタン */
.pagetop {
    position: fixed;
    width: 125px;
    right: 40px;
    bottom: 40px;
}

@media screen and (max-width: 767px) {
    .pagetop {
        width: 100px;
    }
}
